<!-- Individual widgets -->
<div id="{{wc.id}}" class="{{wc.htmlClass}}" >
    {{vw-toolbar-top}}
    <div class="wc-margin-all-sm">
      {{vw-messages}}
      <div class="cg-bk-lg cg-gap-l">
        <!-- Left col -->
        <div class="wc-panel-type-box">

           <!-- New version -->
           <!-- {{new-sync-version}} -->

           <!-- Entities -->
           {{import-poll}}

        </div>
      </div>
    </div>
</div>
